@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

body {
  background-color: #c3c7c7;
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

.general {
  color: #c3c7c7;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
ul,
ol {
  font-size: 26px;
  line-height: 30px;
}

ul,
ol {
  list-style: inside;
  padding: 0;
}

a {
  color: #bd363a;
}

a:hover {
  color: #ff0810;
}

p.caption {
  font-size: 16px;
  color: rgb(139, 139, 139);
  font-style: oblique;
  margin-top: 0;
}

header {
  text-align: center;
  background-color: #bd363a;
  padding: 20px;
}
header .pfp {
  width: 300px;
  height: 300px;
  border: 20px solid #788a90;
  border-radius: 50%;
  background-image: url(./../img/GDSRRY.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

h1 {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 10px 0 20px 0;
  color: #c3c7c7;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 20px 0;
  color: #bd363a;
  text-shadow: 2px 2px 4px #788a90;
}

main {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

main img {
  max-width: 100%;
}

footer {
  text-align: center;
  font-size: 16px;
  background-color: #788a90;
}

footer .content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 600px) {
  header .pfp {
    width: 200px;
    height: 200px;
    border-width: 10px;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    text-align: center;
  }

  p,
  ul,
  ol {
    font-size: 18px;
    line-height: 22px;
  }
  footer p {
    font-size: 14px;
  }
}
