@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");

body {
  background-color: #69d2b8;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: #266144;
  padding: 20px;
}
header .pfp {
  width: 300px;
  height: 300px;
  border: 20px solid #788a90;
  border-radius: 50%;
  background-image: url(./../img/Professor-Chaos-Profile.jpg);
  background-repeat: no-repeat;
  nackground-position: center;
  background-size: cover;
  margin: 0 auto;
}

header h1 {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 10px 0 20px 0;
  color: #69d2b8;
  text-shadow: 2px 2px 4px #000000;
}
