@import url("https://fonts.googleapis.com/css2?family=Eater&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

body {
  background-color: #69d2b8;
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
ul,
ol {
  font-size: 26px;
  line-height: 30px;
}

ul,
ol {
  list-style: inside;
  padding: 0;
}

a {
  color: #266144;
}

a:hover {
  color: #00ff11;
}

p.caption {
  font-size: 16px;
  color: rgb(139, 139, 139);
  font-style: oblique;
  margin-top: 0;
}

header {
  text-align: center;
  background-color: #266144;
  padding: 20px;
}
header .pfp {
  width: 300px;
  height: 300px;
  border: 20px solid #788a90;
  border-radius: 50%;
  background-image: url(./../img/Professor-Chaos-Profile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

h1 {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  margin: 10px 0 20px 0;
  color: #69d2b8;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  margin: 20px 0;
  color: #266144;
  text-shadow: 2px 2px 4px #788a90;
}

main {
  width: 900px;
  margin: 0 auto;
}

main img {
  max-width: 100%;
}

footer {
  text-align: center;
  font-size: 16px;
  background-color: #788a90;
}

footer .content {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
}
